<%- include('../partials/header') %>
<div style="text-align:center; max-width: 400px;"><img src="https://bebraveandbloom.com/wp-content/uploads/2018/08/healthy-chocolate-and-banana-protein-shake3.jpg"width="150%"></div>

<section id="show-page">
  <div>Product: </div>
  <div><%= shake.product  %></div>
  <div>Flavor: </div>
  <div><%= shake.flavor %></div>
  <div>Rating: </div>
  <div><%= shake.rating %></div>
  <div>Calories: </div>
  <div><%= shake.calories %></div>
  <div>Quality: </div>
  <div><%= shake.quality ? 'Yes' : 'Nope' %></div>
</section>

<h3>Reviews</h3>
<form action="/reviews/<%= shake._id %>/reviews" id="add-review-form" method="POST">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Review">
</form>


<% if(shake.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% shake.reviews.forEach(review => { %>
        <tr>
          <td><%= review.createdAt%></td>
          <td><%= review.content %></td>
          <td><%= review.rating %></td>
          <td><form action="/shakes/<%= review._id %>/reviews?_method=DELETE" id="delete-shake-form" method="POST">  
            <input type="submit" value="delete"></input>
          </form>
          </td>
          <td>
            <a href="/reviews/<%= review._id%>/edit">Edit</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>
<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
  
<%- include('../partials/footer') %>